body {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	line-height: 1.6em;
	width: 960px;
	/* font-size: .85em; */
	margin-left: 1em;
	margin-right: 1em;
}

a {
	text-decoration:none;
}

#heading, .heading_button {
	padding-top:8px;
	text-align: center;
	font-size:x-large;
	font-weight:bold;
}

.heading_link {
	font-weight:lighter;
	font-size:small
}


#left_heading_link {
  	float: left;
}

#right_heading_link {
  	float: right;
}

.program_description {
	font-size:110%;
	font-weight:bold;
	font-family:courier;
}


/* separate tut questions */
.tut>ol>li, .separated_list>li  {
	margin-top: 2em;
}


.answer {
/*	border:thin solid #9999CC; */
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 1em;
	margin-right: 1em;
	padding:16px 8px;
	border-radius:10px;
}


.written.answer {
	margin-top: 0.5em;
	padding:4px 8px;
}

.tutlab h2 {
	text-align:center;
}


/* heading for a lab section */
.lab h3 {
/*	margin-top: 2em; */
	margin-left: -0.5em
	margin-right: -0.5em;
	padding: .4em;
	border-radius:10px;
}

/* show a command-line interaction */
.command_line {
	font-family:"Courier New", Courier, monospace;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 0em;
	margin-right: 1em;
	padding:4px 8px;
	border-radius:10px;
    white-space: pre;
	font-size: 1.5em;
	line-height: 125%;
	border:thin solid #9999CC;
}

.command_line kbd {
	font-size: 0.8em;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	padding: 3px 3px;
	box-shadow: none;
}


/* show a prompt before a shell command */
kbd.shell:before {
	content: '$ ';
	background-color: #F4F4FF;
	/* padding:3px 1px; */
	/* font-weight:lighter; */
	font-family:"Courier New", Courier, monospace;
}

/*
pre.command_line {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 0em;
	margin-right: 1em;
	padding:4px 8px;
	border-radius:10px;
}
*/

kbd {
	color:black;
	background:#E0E0E0;
}


samp {
	font-weight:lighter;
	font-family:"Courier New", Courier, monospace;
}

/* indicate ctrl-d typed */
.eof:before {
	content: 'Ctrl-d';
	font-weight:lighter;
	font-style: italic;
	font-family:"Courier New", Courier, monospace;
	border:thin solid;
	border-radius:5px;
	padding:1px 4px;
}

/* programs */
.program {
	font-size: 1em;
	line-height: 120%;
	font-family: "Lucida Console", Courier, "Courier New",monospace;
}


pre.program {
	border:thin solid #9999CC;
	margin: 1em;
	padding:4px 8px;
	border-radius:10px;
}

.answer pre.program {
	margin: 0.5em;
}


.example_link {
	font-weight:bold;
	font-size: 1.2em;
	font-family:"Courier New", Courier, monospace;
	/* margin-left: 2em; */
}

.example_header_comment {
/*	font-weight:bold;
	margin-left: 4em; */
	font-size: 1.2em;
	font-family: Verdana, Tahoma, Arial, sans-serif;}

div.date_changed {
	margin-top: 2em;
	margin-left: -3em;
	text-align:center;
	font-family: monospace;
	font-size:110%;
	font-style: italic;
}

.tutors_only:after {
	content: '(tutors-only)';
	/* padding:3px 1px; */
	font-weight:lighter;
	font-size:50%;

}

/* color scheme */

a {
	color:#3333FF;
}

a[href]:hover {
	background-color:#FFFFCC;
	color:#CC0000;
}

h2 {
	color:#3366CC;
}

code {
	color : black; /* why pink in bootstrap */
	background-color:#FFFFFF; 
	border:none;
	font-size:120%;
}

/* show a command-line interaction */
.command_line kbd  {
	background-color:#F4F4FF;
	color: black;
/*	border:thin solid #9999CC; */
}

/* indicate ctrl-d typed */
.eof {
	background-color:#E0E0F0;
}

/* programs */
.program {
	background-color:#F8F8FF;
}


.answer code , .answer{
	background-color:#EAFAEA;
}

.answer .command_line , pre.answer , .answer pre {
	border:thin solid green;
	background-color:#F1FAF1;
}


.tutors_only {
	color: red;
}

#heading, .heading_button {
	color:#4477DD;
	color:#4477DD;
	background-color:#FFFFFF;
}

.program_description {
	/* color:#993300; */
}

.written.answer {
/*	color: blue; */
	border:thin solid green;
	background-color:#F1FAF1;
}

/* heading for a lab section */
.lab h3 {
	color: black;
	background-color: #E0E0E0;
}

.heading {
	color:#4477DD;
}

kbd {
	color:black;
	background:#E0E0E0;
}

